<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">
    <link rel="stylesheet" type="text/css" href="../static/index.css">
	<title>CYSTERS | Disease Index</title>
</head>
<style>
	 #main-footer
    {
      color: #FFFFFF;
      font-family: "Segoe UI";
      background: #2B2B2B;
      text-align: center;
      margin-top: 75px;
      padding: 16px;
      bottom: 8px;
    }

    .img_holder img{
        max-width: 100%; max-height: 100%;
    }

    .btn-file {
    position: relative;
    overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
</style>
<body>

	<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="#"><b>CYSTERS</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="./dashboard.html">Get Started</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="./disindex.html">Awareness</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./choose.html">test</a>
                    </li>
                    
                    <li class="nav-item">
		                <a class="nav-link" href="#">|</a>
		            </li>
                    <li class="nav-item">
		                <a class="nav-link" href="./index.html">Logout</a>
		            </li>
                    </ul>
                </div>
            </nav>

</header>
    <br/>
    <br/>
	<div class="container">
        <h1 style="text-align:center;">PCOS Awareness</h1>
    <p style="text-align:center;">Public awareness of PCOS is necessary because over half of the 10,000,000 people that have it, are unaware of it.
        Awareness helps the public understand that symptoms like irregular periods and pelvic pain are not something to be ignored and getting it checked is necessary. While there is no cure for PCOS, there are treatments that can help ease the stress and complications of specific symptoms. The more people that are informed of PCOS the better chances for early diagnosis.</p>
    <h1 style="text-align:center;">1. What is Polycystic Ovarian Syndrome? </h1>
    <div style="text-align: center; margin-top: 20px">
       <img style="max-width: 600px" src="../static/img/2.jpg" /><br/><br/>
   </div>
    <p>Polycystic ovary syndrome (PCOS) is one of the most common hormonal disorders among women of reproductive age. PCOS is common diagnosis in women presenting with infertility. The exact prevalence of PCOS is not known as the syndrome is not defined precisely. Prevalence of PCOS is highly variable ranging from 2.2% to 26% globally. In few Asian countries prevalence figures are ranging from 2% to 7.5% in China and 6.3% in Srilanka. There are few studies conducted in India. Studies done in South India and Maharashtra, prevalence of PCOS (by Rotterdam's criteria) were reported as 9.13% and 22.5% (10.7% by Androgen Excess Society criteria) respectively.
         Early diagnosis of PCOS is important as it has been linked to an increased risk for developing several medical conditions including insulin resistance, type 2
         diabetes, high cholesterol, high blood pressure and heart disease. PCOS is an emerging health problem during adolescence
        
        <br></p>

    <h3>Symptoms</h3>
    <p>Signs and symptoms of PCOS may include:</p>
    <ul>
      <li>Infertility (not able to get pregnant) - PCOS is the most common cause of female infertility. Conception may take longer than in other women, or women with PCOS may have fewer children than they had planned. In addition, the rate of miscarriage is also higher in affected women.</li>
      <li>Infrequent, absent, and/or irregular menstrual periods- The menstrual irregularities in PCOS usually present around the time of menarche.      </li>
      <li>
        Hirsutism -increased hair growth on the face, chest, back, thumbs, or toes
      </li>
      <li>
        Acne, oily skin, or dandruff
      </li>
      <li>Weight gain or obesity, usually with extra weight around the waist
    </li>
      <li>Patches of skin on the neck, arms, breasts, or thighs that are thick and dark brown or black

    </li>
      <li>Anxiety or depression

    </li>
      <li>Male-pattern baldness or thinning hair</li>
      <li>Sleep apnea (when breathing stops for short periods of time while asleep)
    </li>
    </ul>
    <h3>Causes</h3>
    <p>The cause of PCOS is unknown. But most experts think that several factors, including genetics, could play a role. Women with PCOS are more likely to have a mother or sister with PCOS. A main underlying problem with PCOS is a hormonal imbalance. In women with PCOS, the ovaries make more androgens than normal. Androgens are male hormones that females also make. High levels of these hormones affect the development and release of eggs from ovary each month (process called ovulation).
<br>
Researchers also think insulin may be linked to PCOS. Insulin is a hormone that controls the change of sugar, starches, and other food into energy for the body to use or store. Many women with PCOS have too much insulin in their bodies because they have problems using it. Excess insulin appears to increase production of androgen.
<br>
Researchers have identified hormonal, lifestyle and environmental factors that may increase your risk of breast cancer. But it's not clear why some people who have no risk factors develop cancer, yet other people with risk factors never do. It's likely that breast cancer is caused by a complex interaction of your genetic makeup and your environment.

</p>
<br>
<hr>
<br>



	</div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
